<header>
  <img class="logo" src="assets/img/flauti-logo.jpg" alt="Logo">
  <!-- quiero que me hagas un pequeño formulario para la foto, con los mismos nombres, para que 
       funcione -->
  <input type="file" (change)="obtenerArchivo($event)" />
  <button (click)="subirPublicacion()">Subir</button>

  <div class="container">
    <input 
      type="text" 
      (focus)="showContent()" 
      (blur)="hideContent()" 
      [(ngModel)]="searchTerm" 
      placeholder="Buscar..." 
    />
    <div class="user-container">
      <div id="content" [class.hidden]="!isContentVisible" (mousedown)="keepContentVisible()">
        <!-- Mostrar los usuarios filtrados -->
        <div *ngFor="let user of filteredUsers">{{user.email}} <button *ngIf="!user.follow" (click)="followPeople(user.id)">Seguir</button> <button *ngIf="user.follow" (click)="unfollowPeople(user.id)">Siguiendo</button></div>
      </div>
    </div>
  </div>
  <img class="fotoPerfil" [src]="usuario.fotoPerfil|| 'https://th.bing.com/th/id/R.baab394b13d90b82e910fe7daffe91d6?rik=j%2fgpEnKUbHUF4Q&riu=http%3a%2f%2fcdn.playbuzz.com%2fcdn%2f913253cd-5a02-4bf2-83e1-18ff2cc7340f%2fc56157d5-5d8e-4826-89f9-361412275c35.jpg&ehk=%2fLjgOG%2bOBkDVenK3gytA6rK4ZjpCTRXBnFQiOOjVHgc%3d&risl=&pid=ImgRaw&r=0'" (click)="redirectTo('/userProfile')">
<!--     <p>Foto</p>
  </div> -->
</header>

<div class="lateral-derecho">
  <!-- Contenido lateral derecho -->
</div>

<div class="lateral-izquierdo">
  <div>
    <!-- Contenido lateral izquierdo -->
  </div>
</div>

<div class="publicaciones">
  <!-- Prototipo de Publicación -->
  <div class="publication-card">
    <div class="publication-header">
      <img class="avatar" src="https://via.placeholder.com/50" alt="Avatar">
      <div class="user-info">
        <span class="username">juanperez</span>
        <span class="time">2h</span>
      </div>
    </div>
    <div class="publication-image-wrapper">
      <img class="publication-image" src="https://via.placeholder.com/300" alt="Publication Image">
    </div>
    <div class="publication-footer">
      <div class="publication-actions">
        <button class="like-button">Like</button>
        <button class="comment-button">Comentario</button>
        <button class="share-button">Compartir</button>
      </div>
      <div class="publication-caption">
        <span class="username">juanperez</span>
        <span>Un día en la playa</span>
      </div>
      <div class="publication-comments">
        <div class="comment">
          <span class="username">user1</span>
          <span>¡Qué bonito lugar!</span>
        </div>
        <div class="comment">
          <span class="username">user2</span>
          <span>Me encantaría estar allí.</span>
        </div>
      </div>
    </div>
  </div>
</div>