<header>
  <img class="logo" src="assets/img/Logo_fondo_void.png" alt="Logo">
  <div class="container">
    <input type="text" (focus)="showContent()" (blur)="hideContent()" [(ngModel)]="searchTerm"
      placeholder="Buscar..." />
    <div class="user-container">
      <div id="content" [class.hidden]="!isContentVisible" (mousedown)="keepContentVisible()">
        <!-- Mostrar los usuarios filtrados -->
        <div class="user-item" *ngFor="let user of filteredUsers">
          <span class="user-name">{{ user.nombre }}</span>
          <button *ngIf="!user.follow" class="follow-button" (click)="followPeople(user.id)">Seguir</button>
          <button *ngIf="user.follow" class="unfollow-button" (click)="unfollowPeople(user.id)">Siguiendo</button>
        </div>
      </div>
    </div>
  </div>
  <img class="fotoPerfil"
    [src]="usuario.fotoPerfil || 'https://th.bing.com/th/id/R.baab394b13d90b82e910fe7daffe91d6?rik=j%2fgpEnKUbHUF4Q&riu=http%3a%2f%2fcdn.playbuzz.com%2fcdn%2f913253cd-5a02-4bf2-83e1-18ff2cc7340f%2fc56157d5-5d8e-4826-89f9-361412275c35.jpg&ehk=%2fLjgOG%2bOBkDVenK3gytA6rK4ZjpCTRXBnFQiOOjVHgc%3d&risl=&pid=ImgRaw&r=0'"
    (click)="redirectTo('/userProfile')">
</header>


<div class="lateral-derecho">
  <!-- Contenido lateral derecho -->
</div>

<div class="lateral-izquierdo">
  <div>
    <!-- Contenido lateral izquierdo -->
  </div>
</div>

<div class="publicaciones">
  <!-- Prototipo de Publicación -->
  <div class="publication-card" *ngFor="let publicacion of publicaciones">
    <div class="publication-header">
      <img class="avatar"
        [src]="getUsuPerfil(publicacion.usuario_id) || 'https://th.bing.com/th/id/R.baab394b13d90b82e910fe7daffe91d6?rik=j%2fgpEnKUbHUF4Q&riu=http%3a%2f%2fcdn.playbuzz.com%2fcdn%2f913253cd-5a02-4bf2-83e1-18ff2cc7340f%2fc56157d5-5d8e-4826-89f9-361412275c35.jpg&ehk=%2fLjgOG%2bOBkDVenK3gytA6rK4ZjpCTRXBnFQiOOjVHgc%3d&risl=&pid=ImgRaw&r=0'"
        alt="Avatar">
      <div class="user-info">
        <span class="username">{{ getUsuPublicacion(publicacion.usuario_id)}}</span>
        <span class="time">{{publicacion.fecha_publicacion | date: 'short'}}</span>
      </div>
    </div>
    <div class="publication-image-wrapper">
      <img class="publication-image" [src]="publicacion.contenido" alt="Publication Image">
    </div>
    <div class="publication-footer">
      <div class="publication-actions">
        <div class="like-button">
          <img *ngIf="!publicacion.liked" width="60px" src="../../assets/img/me-gusta.png"
            (click)="darLike(publicacion.id)">
          <img *ngIf="publicacion.liked" width="60px" src="../../assets/img/me-gusta-dado.png"
            (click)="quitarLike(publicacion.id)">
          <p class="numLike">{{publicacion.numLikes}} FlautiLikes</p>
        </div>
        <div>
          <img src="../../assets/img/comentario.png" class="comment-button" (click)="goToDetalles(publicacion.id)"
            width="60px">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botón flotante -->
<div class="fixed bottom-4 right-4">
  <button class="floating-button" (click)="toggleMenu()">
    <span class="plus-icon">+</span>
  </button>
  <!-- Menú desplegable -->
  <div *ngIf="menuVisible" class="absolute bottom-16 right-0 bg-pink-200 p-4 rounded-lg shadow-lg">
    <label for="file" class="custom-file-upload">
      <input id="file" type="file" (change)="obtenerArchivo($event)" class="mb-2" />
      Subir archivo
    </label>
    <button *ngIf="datos!=null" (click)="subirPublicacion()" class="bg-purple-600 hover:bg-purple-700 text-white py-2 px-4 rounded">
      Subir
    </button>
  </div>
</div>