.container {
    background-color: #8A2BE2;
    color: #FFFFFF;
    border: 5px solid #4B0082;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 650px;
  }
  
  .container h1,
  .container h2,
  .container h3 {
    color: #FFD700;
  }
  
  .container p {
    margin-bottom: 20px;
  }
  
  .container .contact {
    border-top: 2px solid #4B0082;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .container .contact p strong {
    color: #FFD700;
  }
  
  .backspace-arrow {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    /* Asegura que esté por encima de otros elementos */
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    /* Animación de cambio de color y de transformación */
}

.backspace-arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
    /* Color de fondo oscuro al pasar el ratón */
}

.backspace-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    /* Líneas horizontales de la flecha */
    border-left: 2px solid #fff;
    /* Líneas verticales de la flecha */
    transform: rotate(-45deg);
    /* Rotación para formar la flecha */
}