<div *ngIf="publicacion" class="publication-detail-card">
  <div class="publication-header">
    <img class="avatar" [src]="usuarioPublicacion.fotoPerfil || 'https://th.bing.com/th/id/R.baab394b13d90b82e910fe7daffe91d6?rik=j%2fgpEnKUbHUF4Q&riu=http%3a%2f%2fcdn.playbuzz.com%2fcdn%2f913253cd-5a02-4bf2-83e1-18ff2cc7340f%2fc56157d5-5d8e-4826-89f9-361412275c35.jpg&ehk=%2fLjgOG%2bOBkDVenK3gytA6rK4ZjpCTRXBnFQiOOjVHgc%3d&risl=&pid=ImgRaw&r=0'" alt="Avatar">
    <div class="infoWrap">
    <div class="user-info">
      <span class="username">{{ usuarioPublicacion.nombre }}</span>
      <span class="time">{{publicacion.fecha_publicacion | date: 'short'}}</span>
    </div>
    <img (click)="eliminarPublicacion()" *ngIf="usuarioPublicacion.id == usuario.id" class="basura" src="../../assets/img/bote-de-basura.png" width="40px" alt="">
  </div>
  </div>
  <div class="publication-image-wrapper">
    <img class="publication-image" [src]="publicacion.contenido" alt="Publication Image">
  </div>
  <div class="publication-footer">
    <div class="publication-actions">
      <div class="like-button">
        <img *ngIf="!likeDado" (click)="darLike()" src="../../assets/img/me-gusta.png" alt="" width="60px">
        <img *ngIf="likeDado" (click)="quitarLike()" src="../../assets/img/me-gusta-dado.png" alt="" width="60px">
        <p class="numLike">{{likesPublicacion.length}} FlautiLikes</p>
      </div>
    </div>
    <div class="publication-comments">
      <div *ngFor="let comment of comentariosPublicacion" class="comment">
        <span class="username">{{ usuarioNombres[comment.usuario_id] }}</span>
        <span>{{ comment.contenido}}</span>
      </div>
    </div>
    <div class="comment-section">
      <textarea id="comentarioTextBox" placeholder="Añadir un comentario..." [(ngModel)]="nuevoComentario"></textarea>
      <div class="comment-submit-button" (click)="addComment()"><img src="../../assets/img/flecha-hacia-arriba.png" width="30px"></div>
    </div>
  </div>
</div>

<a href="/home">
  <div class="backspace-arrow">
    <div class="backspace-icon"></div>
  </div>
</a>
