<div *ngIf="publicacion" class="publication-detail-card">
  <div class="publication-header">
    <img class="avatar" [src]="publicacion.avatar || 'https://via.placeholder.com/50'" alt="Avatar">
    <div class="user-info">
      <span class="username">{{ publicacion.usuario }}</span>
      <span class="time">2h</span>
    </div>
  </div>
  <div class="publication-image-wrapper">
    <img class="publication-image" [src]="publicacion.contenido" alt="Publication Image">
  </div>
  <div class="publication-footer">
    <div class="publication-actions">
      <button class="like-button">Like</button>
      <button class="comment-button">Comentario</button>
    </div>
    <div class="publication-caption">
      <span class="username">{{ publicacion.usuario }}</span>
      <span>{{ publicacion.descripcion }}</span>
    </div>
    <div class="publication-comments">
      <div *ngFor="let comment of publicacion.comentarios" class="comment">
        <span class="username">{{ comment.username }}</span>
        <span>{{ comment.text }}</span>
      </div>
    </div>
    <div class="comment-section">
      <textarea [(ngModel)]="nuevoComentario" placeholder="Añadir un comentario..."></textarea>
      <button class="comment-submit-button" (click)="addComment()">Comentar</button>
    </div>
  </div>
</div>

